<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title><?php echo $title; ?></title>

  <style type="text/css">
img{max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic}a img{border:none}table{border-collapse:collapse!important}#outlook a{padding:0}.ReadMsgBody{width:100%}.ExternalClass{width:100%}.backgroundTable{margin:0 auto;padding:0;width:100%!important}table td{border-collapse:collapse}.ExternalClass *{line-height:115%}.container-for-gmail-android{min-width:600px}*{font-family:'Ubuntu','Helvetica Neue','Arial','sans-serif'!important}body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;width:100%!important;margin:0!important;height:100%;color:#343434}td{font-family:'Ubuntu','Helvetica Neue','Arial','sans-serif'!important;font-size:14px;color:#343434;text-align:center;line-height:21px}a{color:#343434;text-decoration:none!important}.pull-left{text-align:left}.pull-right{text-align:right}.header-md{font-size:24px}.header-sm{padding-bottom:10px;line-height:26px;display:inline-block;color:#343434;font-size:20px;height:26px;font-weight:700}.phone-num{display:block;font-size:18px;line-height:30px}a.email{display:block;font-size:14px;line-height:20px}.content-padding{padding:55px 0 60px}.mobile-header-padding-right{width:290px;text-align:right;padding-right:10px}.mobile-header-padding-left{width:290px;text-align:left;padding-left:10px}.mini-block-left{padding:12px 15px 15px;text-align:left;width:253px;line-height:30px}.mini-block-right{padding:12px 15px 15px;text-align:left;width:253px;line-height:30px}.header-logo{font-size:26px;text-transform:uppercase;font-weight:700}.mini-container-left{width:278px;padding:10px 0 10px 15px;vertical-align:top}.mini-container-right{width:278px;padding:10px 15px 10px 0;vertical-align:top}.order-info-left{text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top}.order-info-right{text-align:left;font-size:13px}.product{text-align:left;vertical-align:middle;width:200px}.total-space{display:inline-block;padding-bottom:2px}.total-price{padding-bottom:15px;display:inline-block;color:#<?php if($lightshop_color==1):echo 'e09d3d';elseif($lightshop_color==2):echo 'a8cf4b';elseif($lightshop_color==3):echo '8e6048';elseif($lightshop_color==4):echo '5b5d84';elseif($lightshop_color==5):echo '343434';elseif($lightshop_color==6):echo $lightshop_custom_color_1;else:echo '2a77ed';endif; ?>;font-weight:700;font-size:18px}.item-table{padding:0;width:600px}.item{width:300px;border-left:1px solid #e6e6e6}.price{border-right:1px solid #e6e6e6}.mobile-hide-img{text-align:left;width:130px}.title-dark{text-align:left;border-bottom:1px solid #e6e6e6;color:#343434;font-weight:700;padding:15px;font-size:16px}.item-col{padding:17px 15px;text-align:left;vertical-align:middle;border-bottom:1px solid #e6e6e6}.force-width-gmail{min-width:600px;height:0px!important;line-height:1px!important;font-size:1px!important}.orderpriceinfo{background:#f4f4f4;text-align:center;padding:20px 10px 5px 10px}.footer-logo{text-align:left;padding-left:10px}.footer-soc{text-align:right;padding-right:10px}.none-td{height:36px}
  </style>

  <style type="text/css" media="screen">
    @import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic');
  </style>

  <style type="text/css" media="screen">
@media screen{*{font-family:'Ubuntu','Helvetica Neue','Arial','sans-serif'!important}}
  </style>

  <style type="text/css" media="only screen and (max-width: 480px)">
@media only screen and (max-width:480px){table[class*="container-for-gmail-android"]{min-width:290px!important;width:100%!important}img[class="force-width-gmail"]{display:none!important;width:0!important;height:0!important}table[class="w320"]{width:320px!important}span[class="header-logo"]{font-size:24px;!important}td[class*="mobile-header-padding-left"]{width:160px!important}td[class*="mobile-header-padding-right"]{width:160px!important}a[class*="phone-num"]{font-size:16px!important;line-height:26px!important}td[class="content-padding"]{padding:5px 0 5px!important}td[class="mini-block-left"]{padding-bottom:0;!important}td[class="mini-block-right"]{padding-top:0;!important}td[class="none-td"]{height:0px!important}td[class~="mobile-hide-img"]{display:none!important;height:0!important;width:0!important;line-height:0!important}td[class~="item"]{width:140px!important;vertical-align:top!important;padding-right:0!important}td[class~="quantity"]{width:60px!important;padding-right:0!important}td[class~="price"]{width:90px!important}td[class="item-table"],td[class="order-info"]{padding:30px 10px 0 10px!important}td[class="mini-container-left"],td[class="mini-container-right"]{padding:0!important;display:block!important;width:290px!important;vertical-align:top!important}}
  </style>
</head>

<body bgcolor="#ffffff" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;width:100% !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;height:100%;color:#343434;" >
<table align="center" cellpadding="0" cellspacing="0" class="container-for-gmail-android" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;min-width:600px;" >
  <tr>
    <td align="left" valign="top" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;" >
      <center>
        <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
          <tr>
            <td width="100%" height="148" valign="top" style="text-align:center;vertical-align:middle;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#eaeaea;font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;" >
              <center>
                <table cellpadding="0" cellspacing="0" width="600" class="w320" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
                  <tr>
                    <td class="pull-left mobile-header-padding-left" style="vertical-align:middle;font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;width:290px;text-align:left;padding-left:10px;" >
                      <a href="<?php echo $store_url; ?>" title="<?php echo $store_name; ?>" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;text-decoration:none !important;" >
					  <?php if ($logo) { ?>
					  <img src="<?php echo $logo; ?>" alt="<?php echo $store_name; ?>" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;max-width:600px;outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;border-style:none;" >
					  <?php } else { ?>
					  <span class="header-logo" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:26px;text-transform:uppercase;font-weight:bold;" ><?php echo $header_text_logo; ?></span>
					  <?php } ?>
					  </a>
                    </td>
                    <td class="pull-right mobile-header-padding-right" style="color:#4d4d4d;font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;line-height:21px;border-collapse:collapse;width:290px;text-align:right;padding-right:10px;" >
                    	<?php if ($lightshop_phone_1) { ?>
						<a href="#" class="phone-num" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;text-decoration:none !important;display:block;font-size:18px;line-height:30px;" ><?php echo $lightshop_phone_1; ?></a>
						<?php } ?>
						<?php if ($lightshop_phone_2) { ?>
						<a href="#" class="phone-num" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;text-decoration:none !important;display:block;font-size:18px;line-height:30px;" ><?php echo $lightshop_phone_2; ?></a>
						<?php } ?>
						<?php if ($config_email) { ?>
						<a href="#" class="email" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;text-decoration:none !important;display:block;font-size:14px;line-height:20px;" ><?php echo $config_email; ?></a>
						<?php } ?>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
  <?php if ($customer_id or $download) { ?>
  <tr>
	  <td align="center" valign="top" width="100%"  class="content-padding" style="background-color:#ffffff;font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;padding-top:55px;padding-bottom:60px;padding-right:0;padding-left:0;" >
			<?php if ($customer_id) { ?>
			  <p style="margin-top: 0px; margin-bottom: 20px;"><?php echo $text_link; ?></p>
			  <p style="margin-top: 0px; margin-bottom: 20px;"><a href="<?php echo $link; ?>"><?php echo $link; ?></a></p>
			  <?php } ?>
			  <?php if ($download) { ?>
			  <p style="margin-top: 0px; margin-bottom: 20px;"><?php echo $text_download; ?></p>
			  <p style="margin-top: 0px; margin-bottom: 20px;"><a href="<?php echo $download; ?>"><?php echo $download; ?></a></p>
		  <?php } ?>
	  </td>
  </tr>
  <?php } ?>
  <tr>
    <td align="center" valign="top" width="100%"  class="content-padding" style="background-color:#ffffff;font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;padding-top:55px;padding-bottom:60px;padding-right:0;padding-left:0;" >
      <center>
        <table cellspacing="0" cellpadding="0" width="600" class="w320" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
          <tr>
            <td class="w320" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;" >    
				<table cellspacing="0" cellpadding="0" width="600" class="w320" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
				  <tr>
					<td  class="order-info" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;" >
					  <table cellpadding="0" cellspacing="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-width:1px;border-style:solid;border-color:#e6e6e6;border-collapse:collapse !important;" >
						<tr>
						  <td class="mini-container-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;width:278px;padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:15px;vertical-align:top;" >
							<table cellpadding="0" cellspacing="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
							  <tr>
								<td class="mini-block-padding" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;" >
								  <table cellspacing="0" cellpadding="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:separate !important;" >
									<tr>
									  <td class="mini-block-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;border-collapse:collapse;padding-top:12px;padding-bottom:15px;padding-right:15px;padding-left:15px;text-align:left;width:253px;line-height:30px;" >
										<table cellpadding="0" cellspacing="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
											<tr>
												<td class="order-info-left" colspan="2" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top;" >
													<span class="header-sm" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom:10px;line-height:26px;display:inline-block;color:#343434;font-size:20px;height:26px;font-weight:700;" ><?php echo $text_order_id; ?> <?php echo $order_id; ?></span><br/>
												</td>
											</tr>
											<tr>
												<td class="order-info-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top;" >
													<?php echo $text_date_added; ?>
												</td>
												<td class="order-info-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;font-size:13px;" >
													<?php echo $date_added; ?>
												</td>
											</tr>
											<tr>
												<td class="order-info-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top;" >
													<?php echo $text_payment_method; ?>
												</td>
												<td class="order-info-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;font-size:13px;" >
													<?php echo $payment_method; ?>
												</td>
											</tr>
											<?php if ($shipping_method) { ?>
											<tr>
												<td class="order-info-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top;" >
													<?php echo $text_shipping_method; ?>
												</td>
												<td class="order-info-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;font-size:13px;" >
													<?php echo $shipping_method; ?>
												</td>
											</tr>
											<?php } ?>
											<tr>
												<td class="order-info-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top;" >
													<?php echo $text_payment_address; ?>
												</td>
												<td class="order-info-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;font-size:13px;" >
													<?php echo str_replace('<br />',', ',$payment_address); ?>
												</td>
											</tr>
											<?php if ($shipping_address) { ?>
											<tr>
												<td class="order-info-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top;" >
													<?php echo $text_shipping_address; ?>
												</td>
												<td class="order-info-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;font-size:13px;" >
													<?php echo str_replace('<br />',', ',$shipping_address); ?>
												</td>
											</tr>
											<?php } ?>
										  </table>
									  </td>
									</tr>
								  </table>
								</td>
							  </tr>
							</table>
						  </td>
						  <td class="mini-container-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;width:278px;padding-top:10px;padding-bottom:10px;padding-right:15px;padding-left:0;vertical-align:top;" >
							<table cellpadding="0" cellspacing="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
							  <tr>
								<td class="mini-block-padding" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;" >
								  <table cellspacing="0" cellpadding="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:separate !important;" >
									<tr>
									  <td class="mini-block-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;border-collapse:collapse;padding-top:12px;padding-bottom:15px;padding-right:15px;padding-left:15px;text-align:left;width:253px;line-height:30px;" >
										<table cellpadding="0" cellspacing="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
											<tr>
												<td class="none-td" colspan="2" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;height:36px;" >
												</td>
											</tr>
											<tr>
												<td class="order-info-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top;" >
													<?php echo $text_email; ?>
												</td>
												<td class="order-info-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;font-size:13px;" >
													<?php echo $email; ?>
												</td>
											</tr>
											<tr>
												<td class="order-info-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top;" >
													<?php echo $text_telephone; ?>
												</td>
												<td class="order-info-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;font-size:13px;" >
													<?php echo $telephone; ?>
												</td>
											</tr>
											<tr>
												<td class="order-info-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top;" >
													<?php echo $text_ip; ?>
												</td>
												<td class="order-info-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;font-size:13px;" >
													<?php echo $ip; ?>
												</td>
											</tr>
											<tr>
												<td class="order-info-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top;" >
													<?php echo $text_order_status; ?>
												</td>
												<td class="order-info-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;font-size:13px;" >
													<?php echo $order_status; ?>
												</td>
											</tr>
											<?php if ($comment) { ?>
											<tr>
												<td class="order-info-left" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;color:#979797;font-size:13px;width:100px;vertical-align:top;" >
													<?php echo $text_instruction; ?>
												</td>
												<td class="order-info-right" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;font-size:13px;" >
													<?php echo $comment; ?>
												</td>
											</tr>
											<?php } ?>
										  </table>
									  </td>
									</tr>
								  </table>
								</td>
							  </tr>
							</table>
						  </td>
						</tr>
					  </table>
					</td>
				  </tr>
				</table> 
			</td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;" >
      <center>
        <table cellpadding="0" cellspacing="0" width="600" class="w320" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
            <tr>
              <td class="item-table" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:600px;" >
                <table cellspacing="0" cellpadding="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
                  <tr>
                    <td class="title-dark" width="300" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;color:#343434;font-weight:700;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;font-size:16px;" >
                     <?php echo $text_product; ?>
                    </td>
                    <td class="title-dark" width="60" style="white-space:nowrap;font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;color:#343434;font-weight:700;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;font-size:16px;" >
                     <?php echo $text_quantity; ?>
                    </td>
					<!--
                    <td class="title-dark" width="100" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;color:#343434;font-weight:700;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;font-size:16px;" >
                      <?php echo $text_price; ?>
                    </td>
					-->
                    <td class="title-dark" width="100" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;line-height:21px;border-collapse:collapse;text-align:left;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;color:#343434;font-weight:700;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;font-size:16px;" >
                      <?php echo $text_total; ?>
                    </td>
                  </tr>

				<?php foreach ($products as $product) { ?>
                  <tr>
                    <td class="item-col item" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;width:300px;border-left-width:1px;border-left-style:solid;border-left-color:#e6e6e6;padding-top:17px;padding-bottom:17px;padding-right:15px;padding-left:15px;text-align:left;vertical-align:middle;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;" >
                      <table cellspacing="0" cellpadding="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
                        <tr>
                          <td class="mobile-hide-img" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;width:130px;" >
                            <a href="<?php echo $product['href']; ?>" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#343434;text-decoration:none !important;" ><img width="110" height="92" src="<?php echo $product['image']; ?>" alt="item1" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;max-width:600px;outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;border-style:none;height:auto;" ></a>
                          </td>
                          <td class="product" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;vertical-align:middle;width:200px;" >
						  <span style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#868686;font-size:13px;" ><?php echo $product['model']; ?></span> <br/>
						  <a href="<?php echo $product['href']; ?>" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#<?php if($lightshop_color==1):echo 'e09d3d';elseif($lightshop_color==2):echo 'a8cf4b';elseif($lightshop_color==3):echo '8e6048';elseif($lightshop_color==4):echo '5b5d84';elseif($lightshop_color==5):echo '343434';elseif($lightshop_color==6):echo $lightshop_custom_color_1;else:echo '2a77ed';endif; ?>;text-decoration:none !important;" ><?php echo $product['name']; ?></a>
						  <?php foreach ($product['option'] as $option) { ?>
							  <br/>
							  <span style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:13px;" >
							  <?php echo $option['name']; ?>: <?php echo $option['value']; ?>
							  </span> 
						  <?php } ?>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="item-col quantity" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;padding-top:17px;padding-bottom:17px;padding-right:15px;padding-left:15px;text-align:left;vertical-align:middle;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;" >
                      <?php echo $product['quantity']; ?>
                    </td>
                    <!--
					<td class="item-col" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;padding-top:17px;padding-bottom:17px;padding-right:15px;padding-left:15px;text-align:left;vertical-align:middle;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;" >
                      <?php echo $product['price']; ?>
                    </td>
					-->
                    <td class="item-col price" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;border-right-width:1px;border-right-style:solid;border-right-color:#e6e6e6;padding-top:17px;padding-bottom:17px;padding-right:15px;padding-left:15px;text-align:left;vertical-align:middle;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;" >
                      <?php echo $product['total']; ?>
                    </td>
                  </tr>
				<?php } ?>
				<?php foreach ($vouchers as $voucher) { ?>
                  <tr>
                    <td class="item-col item" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;width:300px;border-left-width:1px;border-left-style:solid;border-left-color:#e6e6e6;padding-top:17px;padding-bottom:17px;padding-right:15px;padding-left:15px;text-align:left;vertical-align:middle;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;" >
                      <table cellspacing="0" cellpadding="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
                        <tr>
                          <td class="mobile-hide-img" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;width:130px;" ></td>
                          <td class="product" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;vertical-align:middle;width:200px;" >
						  <a href="#" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;color:#<?php if($lightshop_color==1):echo 'e09d3d';elseif($lightshop_color==2):echo 'a8cf4b';elseif($lightshop_color==3):echo '8e6048';elseif($lightshop_color==4):echo '5b5d84';elseif($lightshop_color==5):echo '343434';elseif($lightshop_color==6):echo $lightshop_custom_color_1;else:echo '2a77ed';endif; ?>;text-decoration:none !important;" ><?php echo $voucher['description']; ?></a>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="item-col quantity" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;padding-top:17px;padding-bottom:17px;padding-right:15px;padding-left:15px;text-align:left;vertical-align:middle;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;" >
                      1
                    </td>
                    <td class="item-col" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;padding-top:17px;padding-bottom:17px;padding-right:15px;padding-left:15px;text-align:left;vertical-align:middle;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;" >
                      <?php echo $voucher['amount']; ?>
                    </td>
                    <td class="item-col price" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;border-right-width:1px;border-right-style:solid;border-right-color:#e6e6e6;padding-top:17px;padding-bottom:17px;padding-right:15px;padding-left:15px;text-align:left;vertical-align:middle;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e6e6e6;" >
                      <?php echo $voucher['amount']; ?>
                    </td>
                  </tr>
				<?php } ?>



				</table>
				<table cellspacing="0" cellpadding="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" > 
                  <tr>
				    <td style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;" >
                    </td>
					
                    <td style="width:300px;padding-top:45px;padding-bottom:75px;padding-right:0;padding-left:0;font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;" >

						<table cellspacing="0" cellpadding="0" width="100%" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
						  <tr>
							<td class="orderpriceinfo" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;background-color:#f4f4f4;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;text-align:center;padding-top:20px;padding-bottom:5px;padding-right:10px;padding-left:10px;" >
							<?php foreach ($totals as $total) { ?>
							  <span class="total-space" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;display:inline-block;padding-bottom:2px;" ><?php echo $total['title']; ?></span> <br/>
							  <span class="total-price" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom:15px;display:inline-block;color:#<?php if($lightshop_color==1):echo 'e09d3d';elseif($lightshop_color==2):echo 'a8cf4b';elseif($lightshop_color==3):echo '8e6048';elseif($lightshop_color==4):echo '5b5d84';elseif($lightshop_color==5):echo '343434';elseif($lightshop_color==6):echo $lightshop_custom_color_1;else:echo '2a77ed';endif; ?>;font-weight:700;font-size:18px;" ><?php echo $total['text']; ?></span> <br/>
						    <?php } ?>
							</td>
						  </tr>  
						</table>
				
                    </td>
                    <td style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;" >
                    </td>
                  </tr>  
                </table>

              </td>
            </tr>
        </table>
      </center>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" width="100%" style="background-color:#f3f3f3;height:75px;vertical-align:middle;font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;text-align:center;line-height:21px;border-collapse:collapse;" >
      <center>
        <table cellspacing="0" cellpadding="0" width="600" class="w320" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse:collapse !important;" >
          <tr>
            <td class="footer-logo" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;text-align:left;padding-left:10px;" >
              <strong style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:20px;text-transform:uppercase;" ><?php echo $header_text_logo; ?></strong>
            </td>
            <td class="footer-soc" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size:14px;color:#343434;line-height:21px;border-collapse:collapse;text-align:right;padding-right:10px;" >
            		<?php foreach ($social_navs as $social_nav) { ?>
					<a href="<?php echo $social_nav['link']; ?>" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;display:inline-block;color:#343434;text-decoration:none !important;" ><img width="22" height="22"  src="<?php echo $social_nav['icone']; ?>" alt="<?php echo $social_nav['language'][$language_id]['name']; ?>" style="font-family:'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif' !important;max-width:600px;outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;border-style:none;" /></a>
                    <?php } ?>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
</div>
</body>
</html>